*{
  margin:0;
  padding: 0;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 1200px;
  margin-top: 10px auto;
  overflow: hidden;
  color:#FFFFFF;
  
}

.slidemenu label{
  width: 20%;
  text-align: center;
  float: left;
  color: #FFFFFF;
 
}



.slidemenu label span{
  display: block;
  padding: 10px;  
}

.slidemenu label a p{
  font-size: 20px;
  color:#FFFFFF;
   border: solid 2px #FFFFFF;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}


.logo-img{
  height:80px;
  margin-left: 5%;
}